@charset "UTF-8";

#boardList{
   margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   padding: 0;
   width: 80%;
   height: 70%;
}

#cateBtn{
	text-decoration: none;
	color: gray;
}

#otherCateBtn{
   width: 150px;
   height: 30px;
}
.writeBtnBox{
   margin: 20px;
}
.writeBtn{
   flex: right;
}