@charset "UTF-8";

.detailContainer{
	width: 80%;
	height: 60%;
	margin: 20px;
}
.titleBox, .contentBox{
	margin: 10px;
	padding: 0;
	width: 100%;
}
.bBtnBox{
	margin: 5px;
	padding: 0;
	float: right;
}

/****************** comments *******************/

.commentContainer{
	width: 80%;
	
}
.commentBox{
	margin: 0;
	padding: 0;
	width: 100%
}
.cContent{
	width: 100%
}
.cWholeBtn{
	width: 100%;
	margin: 5px;
}
.cComtent{
	width: 100%; 
}
.cWriteBox{
	width: 80%;
	margin: 5px;
	padding: 0;
	display: flex;
}
.cBtnBox{
	width: 15%;
	margin-left: 5px;
}
.cWriteBtn{
	width: 100%;
	float: right;
}
.commentsBtn{
	float: right;
}
.imgEditbtn{
	width: 40px;
	height: 30px;
}

.boardImg{
	width: 200px;
}