@charset "UTF-8";

.boardMenu {
	list-style: none; 
  	display: flex;
  	padding: 0;
}
.itemcategory{
	list-style: none;
	padding: 0;
}
.boardMenu li{
	margin: 10px;
}

.itemcategory li{
	margin: 20px;
}

.boardMenu li a{
	text-decoration: none;	
}

.itemcategory li a{
	text-decoration: none;	
}



