@charset "UTF-8";

.nav {
	float: left;
	display: flex; /* 추가 */
	margin-top: 20px;
}

.user-img {
	width: 70px;
	height: 70px;
	border-radius: 70%;
	border: solid #e3e3e3 1px;
	overflow: hidden;
	float: left;
}

.user-img-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.user-nickname {
	font-weight: bold;
}

.user-nickname, .user-level {
	margin-left: 10px;
	display: flex;
	align-items: center;
}

.profile {
	width: 100px;
	height: 40px;
	padding: 5px;
	background-color: white;
	margin-top: 15px; margin-left : 20px;
	border-radius: 5px;
	border: solid #e3e3e3 1px;
	margin-left: 40px;
}


.location {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}


/* 프로필 수정페이지만 관련있습니다. */

.nicknameChange{
	margin-top: 80px;
}

	